
/* Photographer Header */

.photograph-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.photograph-content{
    order: -1;
}

.photograph-header .photograph-content h2{
    color: #D3573C;
    font-size: 50px;
    margin: 16px 0;
}

.photograph-header .photograph-content h4{
    color: #901C1C;
    font-size: 24px;
    margin: 14px 0;
}

.photograph-header .photograph-content span{
    color : #525252;
}

.photograph-header .photograph-img img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 3px 12px 3px #525252;
    -webkit-box-shadow: 0px 3px 12px 3px #525252;
    -moz-box-shadow: 0px 3px 12px 3px #525252;
}

/* DropDown Sort */

.dropdown-sort{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    margin: 0 100px;
    padding: 16px 0;
}

.dropdown-heading{
    font-weight: bold;
    font-size: 14px;
}

.dropdown-container,
.dropdown-container:hover .dropdown-content,
.dropdown-container:focus-within .dropdown-content{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px 0;
}

.dropdown-content{
    display: none;
}

.dropdown-container{
    position: relative;
    justify-content: space-between;
    padding: 16px 32px 16px 12px;
    gap: 16px;
}

.dropdown-container,
.contact_button,
.submit_button {
    font-weight: bold;
    color: white;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
}

.contact_button,
.submit_button{
    cursor: pointer;
}

/* .dropdown-container button:first-child,
.dropdown-content button:first-child{
    border-bottom: 1px solid #FAFAFA;
} */

.drop-icon{
    position: absolute;
    padding: 4px 0;
    width: 16px;
    top: 18px;
    right: 8px;
    transform: rotate(0);
}

.dropdown-popularity,
.dropdown-date,
.dropdown-title{
    cursor: pointer;
    background-color: #901C1C;
    color: #FAFAFA;
    border: none;
    text-align: start;
}

.dropdown-popularity,
.dropdown-date{
    position: relative;
}

.dropdown-popularity::after,
.dropdown-date::after{
    content: '';
    position: absolute;
    top: 34px;
    left: 4px;
    width: 100%;
    height: 1px;
    background-color: #FAFAFA;
}

/* Photographer galery */

.photograph-galery{
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 48px;
    justify-content: space-between;
    margin : 64px 100px; 
}

.photograph-image img,
.photograph-video video{
    cursor: pointer;

}

.photograph-details{
    position: fixed;
    bottom: 0;
    right: 20px;
    padding: 12px 20px;
    gap: 24px;
    border-radius: 4px 4px 0 0;
    background-color: #DB8876;
    display: flex;
    justify-content: space-evenly;
}
.photograph-nbLikes{
    display: flex;
    align-items: center;
    gap: 4px;
}

.media-details{
    display: flex;
    height: 8%;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
    font-size: 12px;
}

.media-details span{
    margin-left: auto;
}


.media-details button{
    border: none;
    background: none;
    cursor: pointer;
    color: #901C1C;
}


/* Contact form */

.contact_button,
.submit_button{
    font-size: 20px;
    padding: 11px;
    width: 170px;
    height: 70px;

}

.modal-form {
    display: none;
    border: none;
    border-radius: 5px; 
    background-color: #DB8876;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 12px auto;
}

.modal-form::backdrop{
    background: rgb(0, 0, 0);
    opacity: .6;
}

.modal-form header {
    justify-content: space-between;
    width: 100%;
}

.modal-form header img {
    cursor: pointer;
}

.modal-form header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input,
form textarea {
    width: 100%;
    border: none;
    resize: none;
    border-radius: 5px;
}

form input{
    height: 48px;
}

form textarea{
    height: 110px;
}

/* Lightbox */

.row > .column {
    padding: 0 8px;
}
  
.row:after {
content: "";
display: table;
clear: both;
}

.column {
    float: left;
    width: 25%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 10px 0; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    padding: 0;
    width: 90%;
    height: 90%;
    max-width: 600px;
    max-height: 600px;
}

.close {
    cursor: pointer;
    z-index: 10;
    color: #901c1c;
    position: absolute;
    top: 20px;
    right: 5%;
    font-size: 80px;
    font-weight: bold;
}

.mySlides {
    display: none;
    height: 100%;
}

.media_inside{
    height: 100%;
    object-fit: cover;
} 

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  border: none;
  background: none;
  color: #901c1c;
  font-weight: bold;
  font-size: 48px;
}

.prev{
    border-radius: 0 3px 3px 0;
    left: -15%;
}

.next {
    right: -15%;
    border-radius: 3px 0 0 3px;
}

.caption-container {
    order: 2;
    color: #901C1C;
}

.caption-container #caption{
    font-size: 16px;
}